$color__white: #fff;
$color__dark-purple: #2b2446; /*#2b2446 - by default*/
$color__aqua: #1be7e8; /*#1be7e8 - by default*/
$color__purple: #9785e7; /*#9785e7 - by default*/
$color__pink: #bc6ee5; /*#bc6ee5 - by default*/
$color__light-grey: #e7e7e7; /*#e7e7e7 - by default*/
$color__footer-heart: #ff557c; /*#ff557c - by default*/


$header-height: 90px; /*90px - by default*/

$browser-context: 16;  /*Default*/